*, html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.6;
  color: white;
  background-color: #011;
}

label {
  display: block;
  font-size: 90%;
  color: #555;
  margin-bottom: 0.3rem;
}

input[type='text'], input[type=password], textarea {
  border: 2px solid #0d0e0f;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 100%;
}

header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a {
  color: #f39c12;
}

nav {
  display: flex;
  align-items: center;
  transition: all 0.2 ease;
  background-color: black;
  opacity: 0.98;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 2px 2px 14px -5px rgba(0,0,0,0.75);
}

nav div:first-child {
  flex-grow: 1;
  text-align: left;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a.navlink {
  margin: 0 1.618rem;
  transition: all 0.3s ease;
  padding: 0.1rem 0.3rem;
  border-bottom: 2px solid black;
}

nav a.navbar-homelink img {
  height: 40px;
}

nav a.navbar-homelink img.navbar-logo-text {
  height: 24px;
  position: relative;
  bottom: 4px;
  left: 1px;
}

nav a.navlink.active-link, nav a.navlink:hover {
  border-bottom: 2px solid white;
}

body.home div.main {
  max-width: none;
  margin: none;
}

div.main {
  margin: 0 auto;
  padding: 3rem 0 0;
  max-width: 600px;
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 90%;
  color: #555;
}

@media screen and (max-width: 600px) {
  /* nav a.navbar-homelink img.navbar-logo-text {
    display: none;
  } */
  div.main {
    padding: 3rem 0.6rem 0;
  }
}
