*, html {
  box-sizing: border-box;
  overflow: scroll
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.wrapper-fullwidth {
  margin: 0 auto;
  max-width: 1200px;
}

.main{
  margin-top: 2rem;
}

.contact{
  margin: 3rem 2rem;
  border-top: 1px solid #aaa
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
}

h5 {
  font-size: 26px;
  font-weight: 300;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

a, a:active, a:visited {
  color: #fff;
  text-decoration: none;
}

label {
  display: block;
  font-size: 90%;
  color: #555;
  margin-bottom: 0.3rem;
}

input[type='text'], input[type=password], textarea {
  border: 2px solid #0d0e0f;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 100%;
}

.content {
  margin: 0 auto;
  max-width: 100%;
}

nav {
  text-align:center;
  padding: 4rem 0;
  background: #0d0e0f;
}

nav a {
  margin-right: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

nav a.active-link, nav a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}


footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #bfc0c1;
}

.container-wrapper {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 1rem;
}

input.send{
  background: #0d0e0f;
  color: #fff;
  font-size: 18px;
  border: 1px solid #0d0e0f;
  padding: 8px;
  border-radius: 10px;
  width: 100px;
  margin-top: .8rem;
  cursor: pointer;
}

a.email {
  color: #0d0e0f;
  text-decoration: underline;
}

.contact-text {
  margin-top: 0;
}

.contact-form {
  padding-top: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
